<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost/comunidades</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <mapping resource = "dominio/Inmueble.hbm.xml"/>
        <mapping resource = "dominio/Propietario.hbm.xml"/>
        <mapping resource = "dominio/Comunidad.hbm.xml"/> 
        <mapping resource = "dominio/Concepto.hbm.xml"/> 
        <mapping resource = "dominio/Factura.hbm.xml"/> 
        <mapping resource = "dominio/LineaFactura.hbm.xml"/> 
        <mapping resource = "dominio/NotaInformativa.hbm.xml"/> 
        <mapping resource = "dominio/ReciboInmueble.hbm.xml"/> 
    </session-factory>
</hibernate-configuration>
